.clients {
    background-color: #1e1919;
    color: rgb(255, 255, 255);
    position: relative;
}

.clients__tittle {
    width: 70%;
    font-size: 45px;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 5px;
}

.clients_link {
    margin-left: 39%;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.clients_link:hover {
    border-bottom: none;
}