
.dropbox-help {
    margin: 0 auto;

}

.container {
    background-color: #f7f5f2;
    padding: 60px 320px;
}

.help-tittle {
    font-size: 45px;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 5px;
}   

.help-text {
    text-align: center;
}