
.dropbox-help {
    margin: 0 auto;

}

.dropbox-help  .container {
    background-color: #f7f5f2;
    padding: 80px;
}

.dropbox-help .help-tittle {
    font-size: 45px;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 5px;
}   

.dropbox-help .help-text {
    text-align: center;
}