
.start {
    background-color: #1e1919;
    color: white;
    width: 100%;
}

.start .container {
    display: flex;
    justify-content: space-around;
    padding-top: 0;
    padding-bottom: 0;
}

.start_text {
    font-size: 40px;
    font-weight: 600;   
    width: 68%;
    margin: 0;
    margin-right: 25px;
    letter-spacing: 5px;
}

.start .button {
    width: 30%;
    margin-top: 0;
}